* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 75vh;
    width: 55vw;
    background-color: #d0fcfc;
    margin: 55px auto;
}

.box input {
    padding: 8px 2px;
    width: 53vw;
    font-size: 16px;
    background-color: aliceblue;
    margin: 12px 11px;
    text-align: center;
    border-radius: 5px;
}

.store {
    border: 2px solid black;
    border-radius: 5px;
    height: 64vh;
    width: 53vw;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
}

#li .li {
    list-style: none;
    margin: 6px;
    padding: 1px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    background-color: gray;
    border: none;
}

.btn {
    border: none;
    background-color: gray;
    margin:0px 10px;
    cursor: pointer;

}
.span{
    cursor: pointer;
} 
.done{
    text-decoration: line-through;
}
@media screen and (max-width : 900px) {
    .box input{
        margin: 12px 0px;
    }
    .container{
        height: 72vh;
    }
}