* {
    margin: 0px;
    padding: 0px;
}

.container {
    /* height: 75vh;
    width: 55vw;
    width: 30vw; 
    background-color: #d0fcfc; */
    margin: 0px auto;
    margin-top: 45px;
}

.container1 {
    height: 72vh;
    width: 30vw;
    background-color: #d0fcfc;
    margin: 15px auto;
}

.box input {
    padding: 8px 2px;
    width: 53vw;
    /* width: 28vw; */
    font-size: 16px;
    background-color: aliceblue;
    margin: 12px 11px;
    text-align: center;
    border-radius: 5px;
}

.store {
    border: 2px solid black;
    border-radius: 5px;
    height: 64vh;
    width: 53vw;
    /* width: 28vw; */
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
}

.store1 {
    border: 2px solid black;
    border-radius: 5px;
    height: 64vh;
    width: 28vw;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
}

#li li {
    margin: 6px;
    padding: 3px 0px 0px 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: auto;
    list-style-position: inside;
}

#running li {
    margin: 6px;
    padding: 3px 0px 0px 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: auto;
    list-style-position: inside;
}

#pending li {
    margin: 6px;
    padding: 3px 0px 0px 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: auto;
    list-style-position: inside;
}

#li2 li {
    margin: 6px;
    padding: 3px 0px 3px 30px;
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: auto;
    list-style-position: inside;
}

.img {
    background-color: white;
    border: none;
}

.btn {
    border: none;
    background-color: white;
    margin: 0px 10px;
    margin-left: 3px;
    cursor: pointer;

}

.span {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.flex {
    display: flex;
}

.flex1 {
    display: flex;
}

.devidwork {
    padding: 3px 71px;
}

.btn2 {
    border: none;
    background-color: white;
    margin: 0px 0px;
    cursor: pointer;
    margin-left: auto;
}

@media screen and (max-width : 900px) {
    .flex{
        display: inline;
    }
    .box input {
        margin: 8px 0px;
        padding: 9px 72px;
    }

    .container1 {
        height: 56vh;
        width: 90vw;
        background-color: #d0fcfc;
        margin: 15px auto;
    }

    .container1 {
        height: 59vh;
        width: 90vw;
        background-color: #d0fcfc;
        margin: 15px auto;
    }


    .store1 {
        border: 2px solid black;
        border-radius: 5px;
        height: 52vh;
        width: 85vw;
        margin: auto;
        overflow: auto;
        overflow-x: hidden;
    }

    .devidwork {
        padding: 3px 44px;
    }
}